html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #eee;
  font-family: Arial, sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  background-color: #1a1a1a;
  color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.7);
  flex-shrink: 0;
}

.navbar-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.2rem;
  color: white;
}

.navbar-img {
  height: 40px;
  width: auto;
}

.navbar-left p {
  display: flex;
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  align-items: center;
  gap: 0.25em;
}

.navbar-left span {
  color: white;
  font-weight: bold;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar-right a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.navbar-right a:hover {
  text-decoration: underline;
  color: #F7931A;
}

.navbar-info, .navbar-info-placeholder {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar-info p, .navbar-info-placeholder p, .navbar-summary-item p {
  margin: 0;
  font-size: 0.9rem;
  color: #F7931A;
}

.navbar-info-placeholder p {
  color: #a0a0a0; 
  font-style: italic;
}

.info-value, .navbar-info .info-value {
  color: #FFFFFF;
  font-weight: bold;
}

.map-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:#1a1a1a;
;
}

.loading, .error {
  text-align: center;
  padding: 2rem;
  color: #eee;
}